@model UserRoles.Models.ViewModels.PersonaDetailViewModel
@using UserRoles.Models.FormsViewModels
@{
    ViewData["Title"] = "Details";
    var type = ViewData["type"];
}

<div class="persona-details">
    <div class="container">
        <h2 class="h2-header h2-center">Details</h2>
        <div class="bordered-box">
            <div class="mb-2 row">
                @if (Model.Razonsocial == null)
                {
                    <div class="col-md-4">
                        <div class="font-weight-bold">Nombre: </div>
                    </div>
                    <div class="col-md-8">
                        <span>
                            @Model.FirstName
                        </span>

                        @if (Model.SecondName != null)
                        {
                            <span> @Model.SecondName </span>
                        }

                        <span> @Model.FirstLastName </span>

                        @if (Model.SecondLastName != null)
                        {
                            <span> @Model.SecondLastName </span>
                        }
                    </div>
                }
                else
                {
                    <div class="col-md-4">
                        <div class="font-weight-bold">Razon Social: </div>
                    </div>
                    <div class="col-md-8">
                        <span>@Model.Razonsocial</span>
                    </div>
                }
            </div>
            <hr />
            <div class="mb-2 row">
                <div class="col-md-4 font-weight-bold">
                    Typo Cliente:
                </div>
                <div class="col-md-8">
                    @if (Model.Atm)
                    {
                        <span><i class="fas fa-desktop"></i> ATM </span>
                        <br />

                    }
                    @if (Model.Location)
                    {
                        <span><i class="fas fa-home"></i>  Location </span>
                        <br />
                    }
                    @if (Model.WorkingCapital)
                    {
                        <span><i class="fas fa-dollar-sign"></i> Working Capital </span>
                    }
                </div>
            </div>
            <hr />
            <div class="mb-2 row">
                <div class="col-md-4">
                    <div class="font-weight-bold">Address: </div>
                </div>
                <div class="col-md-8">
                    <span>@Model.Street</span>
                    @if (Model.Numero != 0)
                    {
                        <span> @Model.Numero </span>
                    }
                </div>
            </div>
            <hr />
            @if (Model.Zip != 0)
            {
                <div class="mb-2 row">
                    <div class="col-md-4">
                        <div class="font-weight-bold">Zip Code:</div>
                    </div>
                    <div class="col-md-8">
                        <span> @Model.Zip </span>
                    </div>
                </div>
                <hr />
            }
            @if (Model.City != null)
            {
                <div class="mb-2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="font-weight-bold">City: </div>
                        </div>
                        <div class="col-md-8">
                            <span>@Model.City</span>
                        </div>
                    </div>
                </div>
                <hr />
            }
            @if (Model.State != null)
            {
                <div class="mb-2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="font-weight-bold">State: </div>
                        </div>
                        <div class="col-md-8">
                            <span>@Model.State</span>
                        </div>
                    </div>
                </div>
                <hr />
            }
            <div class="mb-2 row">
                <div class="col-md-4">
                    <div class="font-weight-bold">Email:</div>
                </div>
                <div class="col-md-8">
                    <span>@Model.Email</span>
                </div>
            </div>
            <hr />
            @if (Model.Web != null)
            {
                <div class="mb-2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="font-weight-bold">Web: </div>
                        </div>
                        <div class="col-md-8">
                            <span>@Model.Web</span>
                        </div>
                    </div>
                </div>
                <hr />
            }
            <div class="mb-2 row">
                <div class="col-md-4">
                    <div class="font-weight-bold">Home Phone: </div>
                </div>
                <div class="col-md-8">
                    <span>@Model.HomePhone</span>
                </div>
            </div>
            <hr />
            <div class="mb-2 row">
                <div class="col-md-4">
                    <div class="font-weight-bold">Cell Phone: </div>
                </div>
                <div class="col-md-8">
                    <span>@Model.CellPhone</span>
                </div>
            </div>
            <hr />
            <div class="mb-2 row">
                <div class="col-md-4">
                    <div class="font-weight-bold">Status: </div>
                </div>
                <div class="col-md-8">
                    @if (Model.Status == CustomEnums.TypoStatusClienteEnum.Pending)
                    {
                        <span class="a-yellow-link"><i class="fas fa-circle"></i> Pending</span>
                    }
                    @if (Model.Status == CustomEnums.TypoStatusClienteEnum.Aproved)
                    {
                        <span class="a-blue-link"><i class="far fa-check-circle"></i> Approved</span>
                    }
                    @if (Model.Status == CustomEnums.TypoStatusClienteEnum.Denied)
                    {
                        <span class="a-block-link"><i class="fas fa-times-circle"></i> Denied</span>
                    }
                </div>
            </div>
            <hr />
            <div class="mt-4 text-right button-row">
                @if (Model.Razonsocial == null)
                {
                    @Html.ActionLink("Return to list", "PersonaFisica", "Persona", null, new { @class = "btn btn-outline-secondary" })
                }
                else
                {
                    @Html.ActionLink("Return to list", "PersonaJuridica", "Persona", null, new { @class = "btn btn-outline-secondary" })
                }
            </div>
        </div>

    </div>

</div>