@model UserRoles.Models.ViewModels.PersonaViewModel
@using UserRoles.Models.FormsViewModels
@{
    ViewData["Title"] = "Persona Juridica";
}

<div class="persona-juridica">
    <div class="container">
        <h2 class="h2-header inline-header">Persona Juridica</h2>
        <a href="@Url.Action("Create", "Persona")" class="add-user"><i class="fas fa-plus-square fa-2x"></i></a>

        <table id="UserSellers"
               class="table table-striped table-responsive-lg"
               data-toggle="table"
               data-pagination="true"
               data-page-list="[5, 10, 20, 30, 50, 100]"
               data-search="true"
               data-search-align="left">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="RazonSocial" class="th-sortable">
                        Razon Social
                    </th>
                    <th data-sortable="true" data-field="Street" class="th-sortable">
                        Address
                    </th>
                    <th data-sortable="true" data-field="ZipCode" class="th-sortable">
                        ZipCode
                    </th>
                    <th data-sortable="true" data-field="Email" class="th-sortable">
                        Email
                    </th>
                    <th>
                        Home Phone
                    </th>
                    <th>
                        Cell Phone
                    </th>
                    <th data-sortable="true" data-field="Typo" class="th-sortable">
                        Typo Cliente
                    </th>
                    <th data-sortable="true" data-field="Status" class="th-sortable">
                        Edit
                    </th>
                    <th data-sortable="true" data-field="Status" class="th-sortable">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PersonaJuridicas)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.RazonSocial, "Details", "Persona", new { id = item.PersonId })
                    </td>
                    <td>
                        @item.City @item.Street
                        @if (item.Aparment != 0)
                        {
                            @item.Aparment
                        }
                    </td>
                    <td>
                        @if (item.Zip != 0)
                        {
                            @item.Zip
                        }
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.HomePhone
                    </td>
                    <td>
                        @item.CellPhone
                    </td>
                    <td></td>
                    <td>
                        <i class="fa fa-pencil" style="color: darkblue; font-size: 16px;" ;></i> @Html.ActionLink("Edit", "Edit", new { id = item.PersonId })
                    </td>
                    <td>
                        @if (item.StatusCliente == CustomEnums.TypoStatusClienteEnum.Pending)
                        {
                            <i class="a-yellow-link fas fa-circle">Pending</i>
                        }
                        @if (item.StatusCliente == CustomEnums.TypoStatusClienteEnum.Aproved)
                        {
                            <i class="a-blue-link far fa-check-circle"> Approved</i>
                        }
                        @if (item.StatusCliente == CustomEnums.TypoStatusClienteEnum.Denied)
                        {
                            <i class="a-block-link fas fa-times-circle"> Denied</i>
                        }
                    </td>
                    <td></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


